/* Stats */
.stats-row {
  margin-bottom: 15px;
}
.stats-value .percent {
  display: inline-block;
  min-width: 45px;
}
/* desktop */
@media (min-width: 800px) {
  .stats-row {
    float: left;
    width: 50%;
  }
}
/* 4k */
@media (min-width: 3500px) {
  .stats-row {
    font-size: 3vh;
  }
}
/* Mobile 360 */
@media (max-width: 360px) {
  .stats-row {
    font-size: 12px;
  }
}
