body {
  background: #333;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 28px;
}

a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

form {
  margin-top: 15px;
  /* margin-bottom: 30px; */
}

input {
  background: #444;
  color: #ccc;
}

.meditation-name {
  text-align: center;
  border: none;
  padding: 3px;
}

.main-value {
  font-size: 20px;
  /* margin-bottom: 30px; */

}
.main-value .label {
  margin-bottom: -40px;
  display: block;
}
/* @media(max-width: 800px) {
  .main-value .label {
    margin-bottom: -15px;
  }
} */
.main-value .label {
  margin-bottom: -40px;
  display: block;
}
.main-value .value {
  display: block;
  font-size: 30vh;
}
@media (min-width: 800px) {
  .main-value {
    float: left;
    width: 50%;
  }
}
/* Mobile */
@media (orientation: portrait) {
  .main-value {
    float: left;
    width: 50%;
  }
  .main-value .label {
    margin-bottom: -20px;
  }
  .main-value .value {
    font-size: 15vh;
  }
}
/* 4k */
@media (min-width: 3500px) {
  .main-value .label {
    font-size: 3vh;
  }
  .main-value .value {
    font-size: 30vh;
  }
}

button {
  margin-top: 10px;
  font-size: 30px;
  background: none;
  color: #ccc;
}

table {
  margin: 0 auto;
  text-align: left;
}

#app {
  text-align: center;
  margin-top: 10px;
}
/*#app:not(.inited) {
  display: none;
}*/

.poor-signal {
  opacity: 0.5;
}
[v-cloak] {
  display: none;
}

/* Chart */
svg {
  max-width: 100%;
}

/* Stats */
.stats-row {
  margin-bottom: 15px;
}
.stats-value .percent {
  display: inline-block;
  min-width: 45px;
}
/* desktop */
@media (min-width: 800px) {
  .stats-row {
    float: left;
    width: 50%;
  }
}
/* 4k */
@media (min-width: 3500px) {
  .stats-row {
    font-size: 3vh;
  }
}
/* Mobile 360 */
@media (max-width: 360px) {
  .stats-row {
    font-size: 12px;
  }
}

/* History */
.meditations-list {
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.5em;
}
.meditation-items tr:hover {
  background: #444;
}
.meditation-items td {
  vertical-align: top;
  padding-bottom: 10px;
}
.med__date {
  padding-right: 10px;
  min-width: 130px;
}
.med__date_today {
  font-weight: bold;
}
.med__name {
}
.med__time {
  text-align: right;
}
.med__remove {
  color: #999;
}
.med__time,
.med__med,
.med__att {
  padding: 0 10px;
}

.percent-low { color: #ff0000; }
.percent-mid { color: #ffff00; }
.percent-high { color: #00ff00; }
.percent-highest { color: #00ff00; font-size: 1.2rem; }
.percent-bold { text-shadow: 1px 1px 0px #fff; }
.percent-bold-big { text-shadow: 1px 1px 0px #fff; font-size: 1.2rem; }

.meditation-days { text-align: center; line-height: 1.5em; }

.main-values::after { display: block; content: ''; clear: both; }
.stats-attention { display: none; }