body {
  background: #333;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 28px;
}

a {
  color: #ccc;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


form {
  margin-top: 15px;
}

input {
  background: #444;
  color: #ccc;
}

.el-button {
  cursor: pointer;
  &:hover {
    color: #ffff00;
  }
}

.meditation-name input{
  text-align: center;
  border: none;
  padding: 3px;
  width: 60%; // TODO: fix on mobile
}

button {
  margin-top: 10px;
  font-size: 30px;
  padding: 0 10px;
  background: none;
  color: #ccc;
}

table {
  margin: 0 auto;
  text-align: left;
}

#app {
  text-align: center;
  margin-top: 10px;
}

.poor-signal {
  opacity: 0.5;
}
[v-cloak] {
  display: none;
}

/* Chart */
svg {
  max-width: 100%;
}


.percent-low { color: #ff0000; }
.percent-mid { color: #ffff00; }
.percent-high { color: #00ff00; }
.percent-highest { color: #00ff00; font-size: 1.2rem; }
.percent-bold { text-shadow: 1px 1px 0px #fff; }
.percent-bold-big { text-shadow: 1px 1px 0px #fff; font-size: 1.2rem; }

.stats-attention { display: none; }













.current-meditation input{
  text-align: center;
}



/* Settings component */
.settings {
  max-width: 360px;
  margin: 0 auto;

  .el-form-item__label {
    display: inline-block;
    margin-right: 10px;
  }
  .el-form-item__content {
    display: inline-block;
  }
  .el-input__inner {
    width: 105px;
    padding: 2px 3px;
  }
}

.clickable {
  cursor: pointer;
}